---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<div class="container mx-auto py-10">
		<div class="flex w-full">
			<div class="box w-20 h-20 bg-red-500 rounded-lg text-white flex items-center justify-center">Box 1</div>
			<div class="box w-20 h-20 bg-yellow-500 rounded-lg text-white flex items-center justify-center">Box 2</div>
		</div>
	</div>
</Layout>

<script>
	import gsap from "gsap";

	gsap.to(".box", {
		x: 100,
		duration: 1,
		repeat: -1,
		yoyo: true,
		stagger: 0.5,
	});
</script>